<div class='container-quiz'>
  <div class='col-md-12 col-lg-12'>
    <div class='portfolio-item mx-auto'>
      <center>
      <%= image_tag @quiz.cover_url, class: 'img-fluid'%>
      </center>
      <h3>Tebak Kata ini: <b><%= @quiz.shuffle_answer %></b></h3>
      <%= @quiz.hint.html_safe %>
      <%= form_for(@quiz, url: level_quiz_answer_path(@level, @quiz), method: 'post', html: {class: 'form-signin align-items-center'}) do |f| %>
      <% if flash[:msg] %>
          <%= answer_alert(flash[:msg]).html_safe %>
      <% end %>
      <p>Point saat ini : <%= session[:point].to_i%></p>
      <h1 class='h3 mb-3 font-weight-normal'>Your Answer</h1>
      <%= f.text_field :answer, autofocus: true, value: '', class: 'form-control'%>
      <br/>
      <%= f.submit 'Jawab', class: 'btn btn-lg btn-success btn-block'%>
      <%= link_to 'Pilih level lainnya', root_path,  class: 'btn btn-lg btn-primary btn-block'%>
      <% end %>
    </div>
  </div>
</div>
