<div class="container-quiz">
  <div class="col-md-12 col-lg-12">
    <div class="portfolio-item mx-auto">
      <center>
      <%= image_tag @quiz.cover_url, class: 'img-fluid'%>
      </center>
      <h3>Arrange this string: <%= @quiz.shuffle_answer %></h3>
      <%= @quiz.hint %>
      <%= form_for(@quiz, url: level_quiz_answer_path(@level, @quiz), method: 'post', html: {class: 'form-signin align-items-center'}) do |f| %>
      <% if flash[:msg] %>
          <%= answer_alert(flash[:msg]).html_safe %>
      <% end %>
      <p>Current points <%= session[:point].to_i%></p>
      <h1 class="h3 mb-3 font-weight-normal">Your Answer</h1>
      <%= f.text_field :answer, autofocus: true, class: 'form-control'%>
      <br/>
      <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block"%>
      <% end %>
    </div>
  </div>
</div>
