<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @quiz.level %>
</p>

<p>
  <strong>Hint images:</strong>
  <%= @quiz.hint_images %>
</p>

<p>
  <strong>Hint:</strong>
  <%= @quiz.hint %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @quiz.cover %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @quiz.answer %>
</p>

<p>
  <strong>Point:</strong>
  <%= @quiz.point %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
